{% extends "layout.html" %}
{% block main_div %}
    <div class="page-content">
        <div id="main-div" class="mdl-grid">
            <div class="mdl-cell mdl-cell--9-col">
                <div id="info-card" class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                        <div id="info-title" class="mdl-card__title">
                            <h2 class="mdl-card__title-text">时长记录</h2>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="legal-name-box">
                            <label class="mdl-textfield__label" for="legal-name-box">姓名</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="student-id-box">
                            <label class="mdl-textfield__label" for="student-id-box">学号</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="working-time-box">
                            <label class="mdl-textfield__label" for="working-time-box">记录时长</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="project-name-box">
                            <label class="mdl-textfield__label" for="project-name-box">项目名称</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="job-name-box">
                            <label class="mdl-textfield__label" for="job-name-box">岗位名称</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="job-date-box">
                            <label class="mdl-textfield__label" for="job-date-box">活动日期</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="note-box">
                            <label class="mdl-textfield__label" for="note-box">备注</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
                <div id="right-card" class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input value="2012110649" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="record-id-box" onkeydown='if(event.keyCode==13){search();}'
                                    autofocus>
                                <label class="mdl-textfield__label" for="record-id-box">记录ID</label>
                            </div>
                        </form>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="search();">查询记录</button>
                        <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" onclick="submit();">提交更改</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_footer %}
    <link href="//cdn.bootcss.com/handsontable/0.34.0/handsontable.full.min.css" rel="stylesheet">
    <script src="static/js/handsontable.full.js"></script>
    <link href="//cdn.bootcss.com/pikaday/1.6.1/css/pikaday.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
{% endblock %}