{% extends "layout.html" %}
{% block main_div %}
<div class="page-content">
    <div id="main-div" class="mdl-grid">
        <div class="mdl-cell mdl-cell--9-col">
            <div id="record-table"></div>
        </div>
        <div id='left-panel' class="mdl-cell mdl-cell--3-col">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div id="card-title" class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">使用说明</h2>
                </div>
                <div id="card-content" class="mdl-card__supporting-text">
                    <p>1.右上角登陆右上角登陆右上角登陆右上角登陆右上角登陆</p>
                    <p>2.右上角登陆右上角登陆右上角登陆右上角登陆右上角登陆右上角登陆右上角登陆</p>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <button id="submit-btn" class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect" onclick="recordHandle.submitAll()">全部录入</button>
                    <button id="reset-btn" class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" onclick="recordHandle.resetTable()">清空表格</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_footer %}
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="//cdn.bootcss.com/handsontable/0.34.0/handsontable.full.min.css" rel="stylesheet">
    <script src="static/js/handsontable.full.js"></script>
    <link href="//cdn.bootcss.com/pikaday/1.6.1/css/pikaday.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
{% endblock %}