body
{
    font-family: '黑体';
}

#main-div
{
    font-family: '等线';
}

#buttons
{
    /* margin: 5px; */
    /* margin-left: 20px; */
}

#submit-btn, #reset-btn
{
    font-size: 15px;
}

#main-div
{
    padding: 20px 5% 0 5%;
}

#note
{
    word-break: break-all;
    word-wrap: break-word;
    font-size: 15px;
}