body
{
    font-family: '黑体';
}

#main-div
{
    font-family: '等线';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#submit-btn
{
    font-size: 15px;
}

#card-title
{
    padding-bottom: 0;
}

.mdl-card,.mdl-card__supporting-text
{
    overflow: visible !important;
}