body
{
    font-family: '黑体';
}

#main-div
{
    font-family: '等线';
}

#right-card
{
    min-height: 150px;
}

#submit-btn, #reset-btn
{
    font-size: 15px;
}

#main-div
{
    padding: 30px 5% 0 5%;
}

#info-card
{
      width: 100%; 
}

#info-title
{
    padding-top: 10px;
    padding-bottom: 11px;
}

.mdl-card,.mdl-card__supporting-text
{
    overflow: visible !important;
}
