body
{
    font-family: '黑体';
}

#main-div
{
    font-family: '等线';
}

#buttons
{
    /* margin: 5px; */
    /* margin-left: 20px; */
}

#submit-btn, #reset-btn
{
    font-size: 15px;
}

#main-div
{
    padding: 30px 5% 0 5%;
}

#record-table
{
    /* overflow: hidden; */
     /* height: 100%; */
    /* width: 100%; */
     /* overflow-x: auto; */
    /* overflow-y: auto; */
    /* min-height: 200px; */
}

#card-title
{
    padding-bottom: 0;
}