{% extends "layout.html" %}
{% block main_div %}
    <div class="page-content">
        <div id="main-div" class="mdl-grid">
            <div class="mdl-cell mdl-cell--9-col">
                <div id="info-card" class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                        <div id="info-title" class="mdl-card__title">
                            <h2 class="mdl-card__title-text">志愿者信息</h2>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="gender-box">
                            <label class="mdl-textfield__label" for="gender-box">性别</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="volunteer-id-box">
                            <label class="mdl-textfield__label" for="volunteer-id-box">志愿北京志愿者编号</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="volunteer-time-box">
                            <label class="mdl-textfield__label" for="volunteer-time-box">累计时长</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="phone-box">
                            <label class="mdl-textfield__label" for="phone-box">手机号</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="email-box">
                            <label class="mdl-textfield__label" for="email-box">邮箱</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input readonly class="mdl-textfield__input" type="text" id="note-box">
                            <label class="mdl-textfield__label" for="note-box">备注</label>
                        </div>
                    </div>
                </div>
                <div id="volunteer-table"></div>
            </div>
            <div id='left-panel' class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--2dp">
                    <!-- <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                        <h2 class="mdl-card__title-text">Acme Co.</h2>
                    </div> -->
                    <div class="mdl-card__supporting-text">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input value="2012110649" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="student-id-box" onkeydown='if(event.keyCode==13){search();}'
                                    autofocus>
                                <label class="mdl-textfield__label" for="student-id-box">学号</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input value="徐盈盈" class="mdl-textfield__input" type="text" id="legal-name-box" onkeydown='if(event.keyCode==13){search();}'>
                                <label class="mdl-textfield__label" for="legal-name-box">姓名</label>
                            </div>
                        </form>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="search();">查询</button>
                        <!-- <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" onclick="resetTable();">清空</button> -->
                    </div>
                </div>
                <!-- <div class="mdl-card mdl-shadow--2dp">
                    <div id="card-title" class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text">使用说明</h2>
                    </div>
                    <div id="card-content" class="mdl-card__supporting-text">
                        <p>1.右上角登陆右上角登陆右上角登陆右上角登陆右上角登陆</p>
                        <p>2.右上角登陆右上角登陆右上角登陆右上角登陆右上角登陆右上角登陆右上角登陆</p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button id="submit-btn" class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect" onclick="submitAll()">全部录入</button>
                        <button id="reset-btn" class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" onclick="resetTable()">清空表格</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}
{% block page_footer %}
    <link href="//cdn.bootcss.com/handsontable/0.34.0/handsontable.full.min.css" rel="stylesheet">
    <script src="static/js/handsontable.full.js"></script>
    <link href="//cdn.bootcss.com/pikaday/1.6.1/css/pikaday.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
{% endblock %}